<ul class="usersMedium clearit" id="users" odd="1">
  <li ng-repeat="friend in friends" ng-class="{
    first: $first,
    odd: ($index + 1) % 2
  }" class="user friend" id="r4_{{friend.id}}">
    <div class="userContainer">
      <div id="hcard-reframe-music" class="vcard">
        <strong>
          <a ng-href="#/user/{{friend.name}}" title="{{friend.realname}}, {{friend.age}}, {{friend.country|country}}">
            <span class="userImage">
              <img height="64" width="64" alt="" ng-src="{{
                  friend.image[1]['#text'] || 'http://cdn.last.fm/flatness/responsive/2/noimage/default_user_60_g1.png'
              }}" />
          </span>
          {{friend.name}}
        </a>
      </strong>
      <p class="info">
        <strong class="fn">{{friend.realname || friend.name}}</strong>,
        {{friend.age || '–'}}, {{friend.country|country}}
      </p>
    </div>
    <p class="lastTrack">
      Last track: <a ng-href="{{friend.recenttrack.artist.url}}">{{friend.recenttrack.artist.name}}</a> –
      <a ng-href="{{friend.recenttrack.url}}">{{friend.recenttrack.name}}</a>
    </p>
    </div>
    <form action="friends" method="post">
      <input name="formtoken" type="hidden" value="eda4ce4635e8dc41a544e5150d83211e0d9ac562"/>
      <input type="hidden" name="id" value="38256316" class="friend" />
      <a class="delete" href="javascript:;">
        <img class="icon dismiss_icon" width="16" height="16" src="http://cdn.last.fm/flatness/clear.gif" style="" />
      </a>
    </form>
  </li>

  <!--
  <li class="findfriends" ng-class="{odd: friends.length % 2}">
    <div class="userContainer">
      <a href="/findfriends" class="icon">
        <img class="icon act_befriended_icon" width="20" height="20" src="http://cdn.last.fm/flatness/clear.gif" style="" />
      </a>
      <h2>Friend Finder</h2>
      <p><a href="/findfriends">Find more friends on Last.fm</a></p>
    </div>
  </li>
  -->
</ul>


