<div id="userBadge" class="clearit user vcard" id="hcard-{{user.name}}">

  <div class="badgeAvatar">
    <span class="userImage">
      <img class="photo" height="126" width="126" alt="" ng-src="{{user.image.large}}" />
    </span>
  </div>

  <div class="badgeInfo">
    <!--
    <a href="/settings" style="float: right;">
      <small>Edit &raquo;</small>
    </a>
    -->
    <p class="userInfo adr">
      <strong class="fn">{{user.realname || user.name}}</strong>,
      {{user.gender|gender}},
      <span class="country-name">{{user.country|country}}</span><br>
      <!--a href="http://example.net" rel="me nofollow" class="url
      homepage">example.net</a-->
    </p>

    <div class="userData">
      <span class="userPlays" title="That&rsquo;s an average of {{user.playcount / (20 * 8)|currency:'&pound;'}} per hour">
        <strong>
          <span class=flip>&pound;</span>
          <span class="count" ng-bind-html-unsafe="user.playcount|flipping"></span>&nbsp;salary expectation
      </strong> <small>{{user.registered['#text']}}</small></span>
        <p class="userActivity" ng-show=false>
        <a ng-href="{{user.url}}/library/loved" title="">{{}} Loved Track</a>
        | <a ng-href="{{user.url}}/grapevine" title="">{{}} Posts</a>
        | <a ng-href="{{user.url}}/playlists" title="">{{}} Playlists</a>
          | <span class="shoutCount">
            <a href="#shoutbox" id="shoutBoxLink" class="icon" data-analytics-action="ShoutCountLink">
            <img class="icon comment_icon" width="13" height="11" src="http://cdn.last.fm/flatness/clear.gif" style="" /><span>{{}} shout</span>
          </a>
        </span>
      </p>
    </div><!--.userData-->
  </div><!--.badgeInfo-->
</div><!--.profileBadge-->

