<div
  class="
    module
    modulecharts
    modulechartsartists"
  data-require="affiliation/multiaffiliationarea"
  data-placement=""
  id="switcher457243">

<!--
  <div id="switcher457243Buttons" class="moduleButtons">
    <a class="mEdit icon" href="#">
      <img class="icon settings_icon" width="9" height="9" src="http://cdn.last.fm/flatness/clear.gif" style="">
      <span>Settings</span>
    </a> |
    <a class="mPaste" href="#">Paste Your Taste</a> |
    <a class="mFeeds" href="#">
      <img class="icon feed_small_icon" width="10" height="10" src="http://cdn.last.fm/flatness/clear.gif" style="">
      <span>Feeds</span>
    </a>
  </div>
-->

  <h2 class="heading">
    <span class="h2Wrapper">
      <a ng-href="{{user.url}}/charts?subtype=artists" title="">
        Top Artists
      </a>
    </span>
  </h2>

  <div period-stipulator=artists class="horizontalOptions clearit"></div>

  <candy-stripe-artists
    artists=artists.data[1]
    highest=artists.data[1][0].playcount
    user=user
  ></candy-stripe-artists>

  <div class="moduleOptions">
    <a ng-href="{{user.url}}/charts" title="">
      See more
    </a>
  </div>

</div>
