<div class="module modulecharts modulechartstracks" data-require="affiliation/multiaffiliationarea" data-placement="" id="switcher645093">
  <div id="switcher645093Buttons" class="moduleButtons">
    <a class="mEdit icon" href="#">
      <img class="icon settings_icon" width="9" height="9" src="http://cdn.last.fm/flatness/clear.gif" style="">
      <span>Settings</span>
    </a> |
    <a class="mFeeds" href="#">
      <img class="icon feed_small_icon" width="10" height="10" src="http://cdn.last.fm/flatness/clear.gif" style="">
      <span>Feeds
    </span></a>
  </div>

  <h2 class="heading">
    <span class="h2Wrapper">
      <a href="/user/jessethegame/charts?subtype=tracks" title="">
        Top Tracks
      </a>
    </span>
  </h2>


 <div class="horizontalOptions clearit">
 <ul>
<li class=" first chartweek">
<a href="/user/jessethegame/charts?rangetype=week&amp;subtype=tracks">
 Last 7 days
 </a>
</li>
 <li class="chart1month">
<a href="/user/jessethegame/charts?rangetype=1month&amp;subtype=tracks">
Last month
</a>
</li> <li class="chart3month"><a href="/user/jessethegame/charts?rangetype=3month&amp;subtype=tracks">Last 3 months</a></li> <li class="chart6month"><a href="/user/jessethegame/charts?rangetype=6month&amp;subtype=tracks">Last 6 months</a></li> <li class="chartyear"><a href="/user/jessethegame/charts?rangetype=year&amp;subtype=tracks">Last 12 months</a></li> <li class=" current chartoverall"><a href="/user/jessethegame/charts?rangetype=overall&amp;subtype=tracks">Overall</a></li>
</ul>
 </div><!-- .horizontalOptions -->

 <div class="module-body chart chartoverall current" id="charts163175">

 <table class="candyStriped chart" odd="1">
 <tbody>


 <tr class="first odd" data-track-id="305835854">
 <td class="positionCell">
 {{$index + 1}}
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Mahesvari, played 31 times">
 <div>
 <a href="/music/Arjuna+Schiks">Arjuna Schiks</a> – <a href="/music/Arjuna+Schiks/_/Mahesvari">Mahesvari</a>
 </div>
 </td>
 <td class="lovedCell">
 <img title="A loved track" alt="Loved track" class="icon loved_indicator_icon" width="11" height="9" src="http://cdn.last.fm/flatness/clear.gif" style=""> </td>
 <td class="multibuttonCell">
 <a href="/music/Arjuna+Schiks/_/Mahesvari" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mUnlove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:100%;" class="chartbar"><a href="/user/jessethegame/library/music/Arjuna+Schiks/_/Mahesvari"><span>31</span></a></div> </td>

 </tr><tr class="" data-track-id="549513396">
 <td class="positionCell">
 2
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Brazil - Slow Version, played 26 times">
 <div>
 <a href="/music/Luke+Abbott">Luke Abbott</a> – <a href="/music/Luke+Abbott/_/Brazil+-+Slow+Version">Brazil - Slow Version</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Luke+Abbott/_/Brazil+-+Slow+Version" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:83%;" class="chartbar"><a href="/user/jessethegame/library/music/Luke+Abbott/_/Brazil+-+Slow+Version"><span>26</span></a></div> </td>

 </tr><tr class="odd streamable" data-track-id="327682513">
 <td class="positionCell">
 3
 </td>
 <td class="playbuttonCell">
 <a class="previewbutton preview-track" href="http://play.last.fm/preview/127947701.mp3" data-analytics-redirect="false" rel="nofollow"><img class="icon preview_icon" width="16" height="16" src="http://cdn.last.fm/flatness/clear.gif" style=""></a> </td>
 <td class="subjectCell" title="Ugly But Nasty, played 25 times">
 <div>
 <a href="/music/Applescal">Applescal</a> – <a href="/music/Applescal/_/Ugly+But+Nasty">Ugly But Nasty</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Applescal/_/Ugly+But+Nasty" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:80%;" class="chartbar"><a href="/user/jessethegame/library/music/Applescal/_/Ugly+But+Nasty"><span>25</span></a></div> </td>

 </tr><tr class="streamable" data-track-id="84762382">
 <td class="positionCell">
 4
 </td>
 <td class="playbuttonCell">
 <a class="previewbutton preview-track" href="http://play.last.fm/preview/120866631.mp3" data-analytics-redirect="false" rel="nofollow"><img class="icon preview_icon" width="16" height="16" src="http://cdn.last.fm/flatness/clear.gif" style=""></a> </td>
 <td class="subjectCell" title="Mala Strana, played 24 times">
 <div>
 <a href="/music/Gui+Boratto">Gui Boratto</a> – <a href="/music/Gui+Boratto/_/Mala+Strana">Mala Strana</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Gui+Boratto/_/Mala+Strana" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:77%;" class="chartbar"><a href="/user/jessethegame/library/music/Gui+Boratto/_/Mala+Strana"><span>24</span></a></div> </td>

 </tr><tr class="odd" data-track-id="94577560">
 <td class="positionCell">
 4
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Sleep Deprivation, played 24 times">
 <div>
 <a href="/music/Simian+Mobile+Disco">Simian Mobile Disco</a> – <a href="/music/Simian+Mobile+Disco/_/Sleep+Deprivation">Sleep Deprivation</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Simian+Mobile+Disco/_/Sleep+Deprivation" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:77%;" class="chartbar"><a href="/user/jessethegame/library/music/Simian+Mobile+Disco/_/Sleep+Deprivation"><span>24</span></a></div> </td>

 </tr><tr class="" data-track-id="581849609">
 <td class="positionCell">
 6
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Zomerwoud, played 22 times">
 <div>
 <a href="/music/Zwaan">Zwaan</a> – <a href="/music/Zwaan/_/Zomerwoud">Zomerwoud</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Zwaan/_/Zomerwoud" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:70%;" class="chartbar"><a href="/user/jessethegame/library/music/Zwaan/_/Zomerwoud"><span>22</span></a></div> </td>

 </tr><tr class="odd" data-track-id="280360488">
 <td class="positionCell">
 7
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="A New Error, played 21 times">
 <div>
 <a href="/music/Moderat">Moderat</a> – <a href="/music/Moderat/_/A+New+Error">A New Error</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Moderat/_/A+New+Error" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:67%;" class="chartbar"><a href="/user/jessethegame/library/music/Moderat/_/A+New+Error"><span>21</span></a></div> </td>

 </tr><tr class="" data-track-id="606057294">
 <td class="positionCell">
 7
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Hua Hun - Original Mix, played 21 times">
 <div>
 <a href="/music/Arjuna+Schiks">Arjuna Schiks</a> – <a href="/music/Arjuna+Schiks/_/Hua+Hun+-+Original+Mix">Hua Hun - Original Mix</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Arjuna+Schiks/_/Hua+Hun+-+Original+Mix" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:67%;" class="chartbar"><a href="/user/jessethegame/library/music/Arjuna+Schiks/_/Hua+Hun+-+Original+Mix"><span>21</span></a></div> </td>

 </tr><tr class="odd" data-track-id="94346283">
 <td class="positionCell">
 9
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Scott, played 20 times">
 <div>
 <a href="/music/Simian+Mobile+Disco">Simian Mobile Disco</a> – <a href="/music/Simian+Mobile+Disco/_/Scott">Scott</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Simian+Mobile+Disco/_/Scott" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:64%;" class="chartbar"><a href="/user/jessethegame/library/music/Simian+Mobile+Disco/_/Scott"><span>20</span></a></div> </td>

 </tr><tr class="" data-track-id="321429040">
 <td class="positionCell">
 10
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="1988 - Original Mix, played 18 times">
 <div>
 <a href="/music/Youandewan">Youandewan</a> – <a href="/music/Youandewan/_/1988+-+Original+Mix">1988 - Original Mix</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Youandewan/_/1988+-+Original+Mix" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:58%;" class="chartbar"><a href="/user/jessethegame/library/music/Youandewan/_/1988+-+Original+Mix"><span>18</span></a></div> </td>

 </tr><tr class="odd" data-track-id="483042607">
 <td class="positionCell">
 10
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Saturation, played 18 times">
 <div>
 <a href="/music/Microtrauma">Microtrauma</a> – <a href="/music/Microtrauma/_/Saturation">Saturation</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Microtrauma/_/Saturation" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:58%;" class="chartbar"><a href="/user/jessethegame/library/music/Microtrauma/_/Saturation"><span>18</span></a></div> </td>

 </tr><tr class="streamable" data-track-id="1294">
 <td class="positionCell">
 12
 </td>
 <td class="playbuttonCell">
 <a class="previewbutton preview-track" href="http://play.last.fm/preview/129310918.mp3" data-analytics-redirect="false" rel="nofollow"><img class="icon preview_icon" width="16" height="16" src="http://cdn.last.fm/flatness/clear.gif" style=""></a> </td>
 <td class="subjectCell" title="Konception, played 16 times">
 <div>
 <a href="/music/Plastikman">Plastikman</a> – <a href="/music/Plastikman/_/Konception">Konception</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Plastikman/_/Konception" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:51%;" class="chartbar"><a href="/user/jessethegame/library/music/Plastikman/_/Konception"><span>16</span></a></div> </td>

 </tr><tr class="odd" data-track-id="331411277">
 <td class="positionCell">
 12
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Anjou - Original Mix, played 16 times">
 <div>
 <a href="/music/Youandewan">Youandewan</a> – <a href="/music/Youandewan/_/Anjou+-+Original+Mix">Anjou - Original Mix</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Youandewan/_/Anjou+-+Original+Mix" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:51%;" class="chartbar"><a href="/user/jessethegame/library/music/Youandewan/_/Anjou+-+Original+Mix"><span>16</span></a></div> </td>

 </tr><tr class="streamable" data-track-id="519115818">
 <td class="positionCell">
 12
 </td>
 <td class="playbuttonCell">
 <a class="previewbutton preview-track" href="http://play.last.fm/preview/129447211.mp3" data-analytics-redirect="false" rel="nofollow"><img class="icon preview_icon" width="16" height="16" src="http://cdn.last.fm/flatness/clear.gif" style=""></a> </td>
 <td class="subjectCell" title="Circulate, played 16 times">
 <div>
 <a href="/music/Microtrauma">Microtrauma</a> – <a href="/music/Microtrauma/_/Circulate">Circulate</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Microtrauma/_/Circulate" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:51%;" class="chartbar"><a href="/user/jessethegame/library/music/Microtrauma/_/Circulate"><span>16</span></a></div> </td>

 </tr><tr class="last odd" data-track-id="529988519">
 <td class="positionCell">
 15
 </td>
 <td class="playbuttonCell">
 </td>
 <td class="subjectCell" title="Forgotton, played 15 times">
 <div>
 <a href="/music/Bungle">Bungle</a> – <a href="/music/Bungle/_/Forgotton">Forgotton</a>
 </div>
 </td>
 <td class="lovedCell">
 </td>
 <td class="multibuttonCell">
 <a href="/music/Bungle/_/Forgotton" class="
 mRemoveFromLibrary
 mSend mAddTags
 mAddToPlaylist
 mLove lfmButton lfmMultiButton lfmButtonFortrack lfmSmallButton lfmSmallMultiButton lfmMultiButtonFull
" forcelink="1"><span></span></a> </td>
 <td class="chartbarCell">
 <div style="width:48%;" class="chartbar"><a href="/user/jessethegame/library/music/Bungle/_/Forgotton"><span>15</span></a></div> </td>

 </tr>
 </tbody>
</table> <div class="moduleOptions">
 <a href="/user/jessethegame/charts?rangetype=overall&amp;subtype=tracks" title="">See more</a> </div>

 </div>

 </div>
