@import 'paint';
@import 'animations';

#pages page-slider.artists {
    height: 475px;
    display: block;
    position: relative;
    div {
        width: 100%;
        height: 100%;
    }
}

.skyWrap {
    page-slider {
        height: 1037px;
        width: 773px;
        position: relative;
        display: block;
        overflow: hidden;
    }

    [friend-gallery] {
        width: 100%;
        height: 100%;
        position: absolute;
        //top: 38px;
    }
}

