@import 'paint';
@import 'animations';
@import 'less-kit/brands';

[ng-click] {
    cursor: pointer;
}

#pages page-slider.artists {
    height: 475px;
    display: block;
    position: relative;
    div {
        width: 100%;
        height: 100%;
    }
}

.skyWrap {
    page-slider {
        height: 1037px;
        width: 773px;
        position: relative;
        display: block;
        overflow: hidden;
    }

    [friend-gallery] {
        width: 100%;
        height: 100%;
        position: absolute;
        //top: 38px;
    }
}

jesse {
    background-image: url(//cdn.pewpew.nl/lastfm/images/jesse.red.jpg);
}

.lfmBlack jesse {
    background-image: url(//cdn.pewpew.nl/lastfm/images/jesse.black.jpg);
    background-position: center left;
}

.lfmBrown jesse {
    background-image: url(//cdn.pewpew.nl/lastfm/images/jesse.brown.jpg);
}

.lfmBlue jesse {
    background-image: url(//cdn.pewpew.nl/lastfm/images/jesse.blue.png);
}

.lfmPink jesse {
    background-image: url(//cdn.pewpew.nl/lastfm/images/jesse.pink.png);
}

.lfmGreen jesse {
    background-image: url(//cdn.pewpew.nl/lastfm/images/jesse.green.jpg);
}

jesse {
    background-size: cover;
    width: 100%;
    height: 300px;
    display: block;
}

markdown {
    abbr {
        border-bottom: 1px dotted black;
    }
    padding: 15px;
    p {
        margin-bottom: 1em;
    }
    ul {
        list-style-type: circle;
        margin: 10px 15px;
    }

    h1 {
        clear: both;
        margin: 10px -15px 2px;
        padding: 0;
        color: #D51007;
        font-size: 18px;
        line-height: 13px;
        border-top: 1px dotted #ccc;
        padding: 15px;
    }
}

.social {
    margin-bottom: 2em;
    a[href^='https://twitter.com'] {
        background-image: url(//icons.pewpew.nl/twitter/twitter-32.png);
    }
    a[href^='https://facebook.com'] {
        background-image: url(//icons.pewpew.nl/facebook/facebook-32.png);
    }
    a[href^='https://soundcloud.com'] {
        background-image: url(//icons.pewpew.nl/soundcloud/soundcloud-32.png);
    }
    a[href^='http://linkedin.com'] {
        background-image: url(//icons.pewpew.nl/linkedin/linkedin-32.png);
    }
    a {
        background-repeat: no-repeat;
        background-size: 2em;
        padding-left: 2em;
        line-height: 2em;
        height: 2em;
        display: block;
    }
}

.cover-badge {
    dl {
        line-height: 2em;
        margin: 0.5em 0;
    }
    dt {
        font-weight: bold;
        display: inline-block;
        width: 40%;
    }
    dd {
        display: inline-block;
        width: 60%;
    }
}
