.paint-it(@color) {
/*
    #fauxHeader { background-position: 0 -80px; }
    #lastfmLogo { background-position: 0 -210px; }
    #lastfmLogo:hover { background-position: -110px -210px; }
    #primaryNav .nav-link { text-shadow: #000 0 1px 1px; }
    #primaryNav .nav-link:hover { background-position: 0 -310px; }
    #profileLinks .divider a { background-position: right -540px; }
    #loginLink .profile-link { background-position: right -390px;
    text-shadow: #000 0 1px 1px; }
    #loginLink .profile-link strong { background-position: left -390px; }
    #idBadgerUser { background-position: 0 -390px; text-shadow: #000 0
    1px 1px; }
    #idBadgerDropper { background-position: -110px -420px; }
    #idBadgerDropper:hover { background-position: -131px -420px; }
    #idBadgerDropDown { background: #000; border-color: #000; }
    #siteSearchProgress { background:
    url(http://cdn.lst.fm/flatness/spinners/spinner_ffffff_666666.gif) no-repeat; }

    #siteSearchBox { background-position: 0 -480px; }
    #siteSearchSubmit { background-position: -152px -420px; }
    #siteSearchSubmit:hover { background-position: -173px -420px; }
    #headerLangToggle img.globe_icon { background-position: -194px
    -420px; }
    #headerLangToggle:hover img.globe_icon { background-position: -205px
    -420px; }
    #langSelector.js { background: #000; border-color: #000; }
*/

    #langSelector.js a:hover,
    #idBadgerDropDown a:hover {
         background: @color;
     }

    #page .h2Wrapper a,
    #page h2.heading,
    .l-970 .h3,
    .l-970 h3 a {
        color: darken(@color, 10%);
    }

}

.lfmBrown {
    .paint-it(#943900);
    #fauxHeader, #lastfmLogo, #primaryNav .nav-link:hover, #profileLinks .divider
    a, #loginLink .profile-link, #loginLink .profile-link strong, #idBadgerUser,
    #idBadgerDropper, #siteSearchBox, #siteSearchSubmit, #headerLangToggle
    img.globe_icon {
        background-image: url(/assets/images/brown.png);
    }
 }
.lfmBlue {
     .paint-it(#0000FF);
    #fauxHeader, #lastfmLogo, #primaryNav .nav-link:hover, #profileLinks .divider
    a, #loginLink .profile-link, #loginLink .profile-link strong, #idBadgerUser,
    #idBadgerDropper, #siteSearchBox, #siteSearchSubmit, #headerLangToggle
    img.globe_icon {
        background-image: url(/assets/images/blue.png);
    }
}
