<!DOCTYPE html>
<html ng-app="lastfm" ng-controller="AppCtrl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <title>Last.fm - Wob Application</title>

    <!-- social media tags -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="">

    <link rel="stylesheet" href="//cdn.last.fm/css/css/227358/responsive/responsive.css" />
    <link rel="stylesheet" href="//cdn.last.fm/css/css/227358/music/artist/overview.css" />
    <link rel="stylesheet" href="//cdn.last.fm/css/css/227358/video/module.css" />
    <link rel="stylesheet" href="//cdn.last.fm/css/css/227358/events/module.css" />
    <link rel=stylesheet href="//cdn.last.fm/css/css/227249/user/overview.css">
    <link rel=stylesheet href="//cdn.last.fm/css/css/227358/user/library.css">
    <link rel=stylesheet href="//cdn.last.fm/css/css/227249/master.css">
    <!--link rel=stylesheet href="//cdn.last.fm/css/css/227358/master.css"-->

    <link rel="shortcut icon" href="http://cdn.last.fm/flatness/favicon.2.ico">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>$.noConflict();</script>
->
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <script>
        if(typeof Prototype === 'undefined') {
            document.write(unescape("%3Cscript src='http://cdn.last.fm/javascript/javascript/227249/lib/prototype.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
    <script>
        if(typeof Scriptaculous === 'undefined') {
            document.write(unescape("%3Cscript src='http://cdn.last.fm/javascript/javascript/227249/lib/scriptaculous/scriptaculous.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="http://cdn.last.fm/javascript/javascript/227249/lib/mustache-min.js"></script>

    <script>SM2_DEFER = true;</script>
    <script src="http://cdn.last.fm/javascript/javascript/227249/lib/sm2-min.js"></script>
    <script src="http://cdn.last.fm/javascript/javascript/227249/LFM.js"></script>
-->


    <!-- compiled JS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body class=not-responsive ng-class="{black: 'lfmBlack', brown: 'lfmBrown', blue: 'lfmBlue'}[skinColor]">



<div id="fauxHeaderContainer" class="clearit">
  <div id="fauxHeader"></div>
</div>

<div id="page">
  <!-- is404="{{$state.current.name == '404' && 1 || 0}}" -->
  <div
    id=library
    ng-class="{
      sic: $state.includes('user.library') || $state.includes('user.friends'),
      fixed: false,
      fiflufi: $state.includes('user.profile')
    }">

    <div id="header" class="clearit responsive-container" role="banner">
      <div id="headerWrapper">
        <a href="#" id="lastfmLogo">Last.fm</a>
        <ul id="primaryNav" role="navigation">
          <li class="navItem">
            <a href="#/jesse" class="nav-link">Jesse</a>
          <li class="navItem">
            <a href="#/thegame" class="nav-link">the Game</a>
          <li class="navItem">
            <a href="#/resume" class="nav-link">Resume</a>
          <li class="navItem">
            <a href="#/code" class="nav-link">Code</a>
          <!--
          <li id="musicNav" class="navItem">
            <a href="/music" class="nav-link">Music</a>
          <li id="eventsNav" class="navItem">
            <a href="/events" class="nav-link">Events</a>
          <li id="chartsNav" class="navItem">
            <a href="/charts" class="nav-link">Charts</a>
          <li id="communityNav" class="navItem">
            <a href="/community" class="nav-link">Community</a>
          <li id="originalsNav" class="navItem">
            <a href="http://originals.last.fm" class="nav-link">Originals</a>
            -->
        </ul>

        <div id="profileLinks">
          <ul ng-show=!session>
            <li id="loginLink" class="profileItem">
                <a ng-click=login() class="profile-link"><strong>Login</strong></a>
            </li>
            <!--
            <li id="signupLink" class="profileItem">
                <a href="/join" class="profile-link"><strong>Join</strong></a>
            </li>
            -->
          </ul>

          <ul ng-show=session>
            <li class="profileItem">
              <div id="idBadger" >
                <a ng-href="{{session.url}}" id="idBadgerUser"
                  title="{{session.realname || session.name}}, {{session.gender|gender}}, {{session.country|country}}">
                  <img ng-src="{{session.image.small}}" width="16" height="16" />{{session.name}}
                  </a><a ng-href="{{session.url}}" id="idBadgerDropper"
                  title="{{session.realname || session.name}}, {{session.gender|gender}}, {{session.country|country}}"><span>▼</span></a>
                <ul id="idBadgerDropDown">
                  <li class="home"><a ng-href="/home">Home</a></li>
                  <li class="profile"><a ng-href="{{session.url}}" title="{{session.realname || session.name}}, {{session.gender|gender}}, {{session.country|country}}">Profile</a></li>
                  <li class="friends"><a ng-href="{{session.url}}/friends" title="">Friends</a></li>
                  <li class="recs"><a ng-href="/home/recs">Recommended</a></li>
                  <li class="library"><a ng-href="{{session.url}}/library" title="">Library</a></li>
                  <li class="events"><a ng-href="{{session.url}}/events" title="">Events</a></li>
                  <li class="settings"><a ng-href="/settings">Settings</a></li>
                  <li><a href="/subscribe"><strong>Subscribe</strong></a></li>
                </ul>
              </div>
            </li>
            <li id="logoutLink" class="profileItem">
                <a ng-click=logout() class="profile-link">Logout</a>
            </li>
            <!--
            <li id="inboxLink" class="profileItem divider">
                <a href="/inbox" class="profile-link">Inbox</a>
            </li>
            -->
          </ul>
        </div>
        <div id="headerLinks">
          <!--
          <a href="/user/jessethegame?change=language" title="Click here to change your language" rel="nofollow" id="headerLangToggle" class="icon">
            <img class="transparent_png globe_icon icon" alt="Change language" width="11" height="11" src="http://cdn.last.fm/flatness/clear.gif" style="" />
            <span>English</span>
          </a>
          |
          -->
          <ng-switch on="skinColor">
          <span ng-switch-when="red">
            <a href="" title="Switch Colour Style" ng-click="paintIt('black')">Paint it Black</a></span>
          <span ng-switch-when="black">
            <a href="" title="Switch Colour Style" ng-click="paintIt('brown')">Brown Skin Lady</a></span>
          <span ng-switch-when="brown">
            <a href="" title="Switch Colour Style" ng-click="paintIt('blue')">Daba dee</a></span>
          <span ng-switch-when="blue">
            <a href="" title="Switch Colour Style" ng-click="paintIt('red')">Simply Red</a></span>
          </ng-switch>
          | <a href="#/help">Help</a>
        </div>

        <form id="siteSearch" method="get" class="search-autocomplete" role="search" data-require="search/sitesearch" data-template="search" data-url="/search/autocomplete">
            <input id="siteSearchBox" disabled type="text" name="q" autocorrect="off" autocomplete="off" placeholder="Music search" size="26" class="js-search" />
            <div id="siteSearchProgress" class="js-search-progress search-progress ir" style="display: none;">Loading</div>
            <input type="hidden" name="from" value="ac" />
            <button id="siteSearchSubmit" type="submit" class="submit" title="Search"></button>
        </form>

        <div id="headerPromo">
          <ng-switch on="promo">
            <a ng-switch-when="1" href="//twitter.com/jessethegame">
              Get updates from Jesse, follow me on Twitter »
            </a>
            <a ng-switch-when="2" href="mailto:j.k.zwaan@gmail.com">
              Let's work together! Jesse is ready »
            </a>
            <a ng-switch-default></a>
          </ng-switch>
        </div>
      </div><!-- #headerWrapper -->
    </div><!-- #header -->


    <div ui-view id=content data-require="core/page">
    </div><!-- #content -->





  </div>
</div>


<footer role="banner" class="site-footer">
<div class="responsive-container">
  <nav class="site-footer-nav">
  <div class="r add-bottom-margin">
    <a href="/uploadmusic" class="g6 call-to-action call-to-action--upload" data-analytics-action="FooterClick" data-analytics-label="Artists and Labels">
      <div>
        <h2>Artists and Labels</h2>
        <p>Upload your music and connect with 40 million music fans</p>
      </div>
    </a>
    <a href="/download" class="g6 call-to-action call-to-action--download" data-analytics-action="FooterClick" data-analytics-label="Download Desktop App">
      <div>
        <h2>Download Desktop App</h2>
        <p>Get the desktop app for Windows, Mac, or Linux and start scrobbling</p>
      </div>
    </a>
  </div>
  <hr class="separator">
  <ul class="r add-bottom-margin">
    <li class="g3">
    <h2>Find out more</h2>
    <ul>
      <li><a href="/about" data-analytics-action="FooterClick" data-analytics-label="About us">About us</a></li>
      <li><a href="http://blog.last.fm" data-analytics-action="FooterClick" data-analytics-label="Blog">Blog</a></li>
      <li><a href="/about/contact" data-analytics-action="FooterClick" data-analytics-label="Contact us">Contact us</a></li>
      <li><a href="/about/jobs" data-analytics-action="FooterClick" data-analytics-label="Jobs">Jobs</a></li>
      <li><a href="/resources" data-analytics-action="FooterClick" data-analytics-label="Logo &amp; badges">Logo &amp; badges</a></li>
      <li><a href="/advertise" data-analytics-action="FooterClick" data-analytics-label="Advertise">Advertise</a></li>
      <li><a href="/legal" data-analytics-action="FooterClick" data-analytics-label="Legal">Legal</a></li>
    </ul>
    </li>
    <li class="g3">
    <h2>Join in</h2>
    <ul>
      <li><a href="/subscribe" data-analytics-action="FooterClick" data-analytics-label="Subscribe">Subscribe</a></li>
      <li><a href="/findfriends" data-analytics-action="FooterClick" data-analytics-label="Find friends">Find friends</a></li>
      <li><a href="/community/groups" data-analytics-action="FooterClick" data-analytics-label="Find groups">Find groups</a></li>
      <li><a href="/forum" data-analytics-action="FooterClick" data-analytics-label="Forums">Forums</a></li>
    </ul>
    </li>
    <li class="g3">
    <h2>Do more</h2>
    <ul>
      <li><a href="/download" title="The Scrobbler" data-analytics-action="FooterClick" data-analytics-label="Download Scrobbler">Download Scrobbler</a></li>
      <li><a href="/hardware/ios" title="The iOS Scrobbler" data-analytics-action="FooterClick" data-analytics-label="Scrobbler for iOS">Scrobbler for iOS</a></li>
      <li><a href="/hardware/apple" data-analytics-action="FooterClick" data-analytics-label="iPhone app">iPhone app</a></li>
      <li><a href="/hardware" data-analytics-action="FooterClick" data-analytics-label="More apps">More apps</a></li>
      <li><a href="http://playground.last.fm" data-analytics-action="FooterClick" data-analytics-label="Playground">Playground</a></li>
      <li><a href="http://build.last.fm" data-analytics-action="FooterClick" data-analytics-label="Tools, plugins &amp; more">Tools, plugins &amp; more</a></li>
      <li><a href="/api" data-analytics-action="FooterClick" data-analytics-label="Last.fm API">Last.fm API</a></li>
    </ul>
    </li>
    <li class="g3">
    <h2>Get help</h2>
    <ul>
      <li><a href="/help" data-analytics-action="FooterClick" data-analytics-label="Help &amp; support">Help &amp; support</a></li>
      <li><a href="http://status.last.fm/" data-analytics-action="FooterClick" data-analytics-label="System status">System status</a></li>
      <li><a href="/help/guidelines" data-analytics-action="FooterClick" data-analytics-label="Community guidelines">Community guidelines</a></li>
      <li><a href="/about/moderators" data-analytics-action="FooterClick" data-analytics-label="Moderators">Moderators</a></li>
      <li><a href="/listen" data-analytics-action="FooterClick" data-analytics-label="Where’s Radio" rel="nofollow">Where’s Radio?</a></li>

    </ul>
    <h2 class="add-top-margin">Even more…</h2>
    <ul>
      <li><a href="/music/+free-music-downloads" data-analytics-action="FooterClick" data-analytics-label="Free music downloads">Free music downloads</a></li>
      <li><a href="http://musicmanager.last.fm" data-analytics-action="FooterClick" data-analytics-label="Music Manager">Music Manager</a></li>
    </ul>
    </li>
  </ul>
  </nav>
  <hr class="separator">

  <div class="media site-footer-legalese">
    <img src="http://cdn.last.fm/flatness/anon-homepage/footer_as.png" class="media-pull-right" width="50" height="30" alt="Watch Out, There's a Last.fm About.">
    <div class="media-body">
      <blockquote class="site-footer-legalese-strapline">“Watch Out, There's a Last.fm About.”</blockquote>

      <p>
      © 2013 Last.fm Ltd. All rights reserved. |
      <a href="/legal/terms" data-analytics-action="FooterClick" data-analytics-label="Terms of Use">Terms of Use</a>,
      <a href="/legal/privacy" data-analytics-action="FooterClick" data-analytics-label="Privacy Policy">Privacy Policy</a> and
      <a href="/legal/cookies" data-analytics-action="FooterClick" data-analytics-label="Cookie Policy">Cookie Policy</a> -
      <span class="date">Updated 15 Jan 2013</span>
      </p>

    </div>
  </div>

  <div id="cbsi_f">
    <form>
    </form>
</div><a class="gamespot" href="http://www.gamespot.com"><img src="http://cdn.last.fm/flatness/responsive/footer/logo_gamespot.png" alt="Gamespot logo"></a>    </div>
</footer>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
