<!DOCTYPE html>
<html ng-app="lastfm" ng-controller="AppCtrl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <title>Title</title>

    <!-- social media tags -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="">

    <link rel=stylesheet href="//cdn.last.fm/css/css/227249/user/overview.css">
    <link rel=stylesheet href="http://cdn.last.fm/css/css/227358/user/library.css">
    <link rel=stylesheet href="//cdn.last.fm/css/css/227249/master.css">

    <link rel="shortcut icon" href="http://cdn.last.fm/flatness/favicon.2.ico">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>$.noConflict();</script>
->
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <script>
        if(typeof Prototype === 'undefined') {
            document.write(unescape("%3Cscript src='http://cdn.last.fm/javascript/javascript/227249/lib/prototype.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/scriptaculous/1.9.0/scriptaculous.js"></script>
    <script>
        if(typeof Scriptaculous === 'undefined') {
            document.write(unescape("%3Cscript src='http://cdn.last.fm/javascript/javascript/227249/lib/scriptaculous/scriptaculous.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="http://cdn.last.fm/javascript/javascript/227249/lib/mustache-min.js"></script>

    <script>SM2_DEFER = true;</script>
    <script src="http://cdn.last.fm/javascript/javascript/227249/lib/sm2-min.js"></script>
    <script src="http://cdn.last.fm/javascript/javascript/227249/LFM.js"></script>
-->


    <!-- compiled JS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body ng-class="{black: 'lfmBlack'}[skinColor]">



<div id="fauxHeaderContainer" class="clearit">
  <div id="fauxHeader"></div>
</div>

<div id="page">
  <!-- is404="{{$state.current.name == '404' && 1 || 0}}" -->
  <div
    id=library
    ng-class="{
      sic: $state.includes('user.library') || $state.includes('user.friends'),
      fixed: false,
      fifulfi: $state.current == 'user'
    }">

    <div id="header" class="clearit responsive-container" role="banner">
      <div id="headerWrapper">
        <a href="/home" id="lastfmLogo">Last.fm</a>
        <ul id="primaryNav" role="navigation">
          <li id="musicNav" class="navItem">
            <a href="/music" class="nav-link">Music</a>
          <li id="eventsNav" class="navItem">
            <a href="/events" class="nav-link">Events</a>
          <li id="chartsNav" class="navItem">
            <a href="/charts" class="nav-link">Charts</a>
          <li id="communityNav" class="navItem">
            <a href="/community" class="nav-link">Community</a>
          <li id="originalsNav" class="navItem">
            <a href="http://originals.last.fm" class="nav-link">Originals</a>
        </ul>

        <div id="profileLinks">
          <ul>
            <li id="loginLink" class="profileItem">
                <a href="/login" class="profile-link"><strong>Login</strong></a>
            </li>
            <li id="signupLink" class="profileItem">
                <a href="/join" class="profile-link"><strong>Join</strong></a>
            </li>
          </ul>
        </div>

        <div id="profileLinks" ng-show="false">
          <ul>
            <li class="profileItem">
              <div id="idBadger" >
                <a href="/user/jessethegame" id="idBadgerUser" title="Jesse the Game, Male, Netherlands">
                  <img ng-src="{{user.image[0]['#text']}}" width="16" height="16" />{{user.name}}
                </a><a href="/user/jessethegame" id="idBadgerDropper" title="Jesse the Game, Male, Netherlands"><span>▼</span></a>

                <ul id="idBadgerDropDown">
                  <li class="home"><a href="/home">Home</a></li>
                  <li class="profile"><a href="/user/jessethegame"     title="Jesse the Game, Male, Netherlands">Profile</a></li>
                  <li class="friends"><a href="/user/jessethegame/friends"     title="">Friends</a></li>
                  <li class="recs"><a href="/home/recs">Recommended</a></li>
                  <li class="library"><a href="/user/jessethegame/library"     title="">Library</a></li>
                  <li class="events"><a href="/user/jessethegame/events"     title="">Events</a></li>
                  <li class="settings"><a href="/settings">Settings</a></li>
                  <li><a href="/subscribe"><strong>Subscribe</strong></a></li>
                </ul>
              </div>
            </li>
            <li id="logoutLink" class="profileItem">
                <a href="/login/logout?shake-it-all-about" class="profile-link">Logout</a>
            </li>
            <li id="inboxLink" class="profileItem divider">
                <a href="/inbox" class="profile-link">Inbox</a>
            </li>
          </ul>
        </div>
        <div id="headerLinks">
          <a href="/user/jessethegame?change=language" title="Click here to change your language" rel="nofollow" id="headerLangToggle" class="icon">
            <img class="transparent_png globe_icon icon" alt="Change language" width="11" height="11" src="http://cdn.last.fm/flatness/clear.gif" style="" />
            <span>English</span>
          </a>
          <ng-switch on="skinColor">
          <span ng-switch-when="red">   | <a href="" title="Switch Colour Style"
              ng-click="paintIt('black')">Paint it Black</a></span>
          <span ng-switch-when="black"> | <a href="" title="Switch Colour Style"
              ng-click="paintIt('brown')">Brown Skin Lady</a></span>
          <span ng-switch-when="brown"> | <a href="" title="Switch Colour Style"
              ng-click="paintIt('blue')">Daba dee daba da</a></span>
          <span ng-switch-when="blue">  | <a href="" title="Switch Colour Style"
              ng-click="paintIt('red')">Simply Red</a></span>
          </ng-switch>
          | <a href="/help">Help</a>
        </div>

        <form id="siteSearch" method="get" action="/search" class="search-autocomplete" role="search" data-require="search/sitesearch" data-template="search" data-url="/search/autocomplete">
            <input id="siteSearchBox" type="text" name="q" autocorrect="off" autocomplete="off" placeholder="Music search" size="26" class="js-search" />
            <div id="siteSearchProgress" class="js-search-progress search-progress ir" style="display: none;">Loading</div>
            <input type="hidden" name="from" value="ac" />
            <button id="siteSearchSubmit" type="submit" class="submit" title="Search"></button>
        </form>

        <div id="headerPromo">
          <a href="/about/jobs">&pound;{{user.playcount}} and counting</a>
        </div>
      </div><!-- #headerWrapper -->
    </div><!-- #header -->

    <div id=content data-require="core/page" ui-view></div><!-- #content -->

  </div>
</div>


    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
